@import url('https://fonts.googleapis.com/css?family=Raleway:500');

* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    font-family: 'Raleway', sans-serif;
}

p {
    text-align: center;
}

button {
    margin-left: 10px;
}


